<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>signup page</h1>
    <form action="signup" method="POST">
        <label for="userID">ID</label>
        <input type="text" name="memberId" />
        <label for="userID">PASSWORD</label>
        <input type="password" name="password" />
        <label for="userID">NAME</label>
        <input type="text" name="name" />
        <label for="userID">EMAIL</label>
        <input type="text" name="email" />
        <label for="userID">PHONE</label>
        <input type="text" name="phoneNum" />
        <button type="submit">sing up</button>
    </form>
</body>
</html>